.headermnctr{
    background-color: #e4d5cc;
    height: 10vh;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 5fr 0.5fr;
    align-items: center;
}

.logo{
    position: absolute;
    margin: auto;
    margin-top: -50px;
    width: 100px;
}

.menusdiv{
    justify-content: center;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
}

.menus{
    color: #173227;
    font-family: monospace;
    font-size: 16px;
    font-weight: 600;
}