.imgctr{
    background-image: url(./Files/ff2.jpg);
    
    height: 50vh;
    background-size: 100%;
    background-position: 00px -400px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr;
}

.txtcts{
    color: white;
}

.mainctr1{

    margin: 0px;
}

.hding{
    font-family: monospace;
    font-size: 30px;
}

.tagline{
    font-family: monospace;
    font-weight: 100;
    padding-bottom: 20px;
}

.ptbtn{
    background-color: #e4d636;
    color: #173227;
    padding: 10px;
    font-family: monospace;
    font-weight: 600;
}

.quote{

    margin: auto;
    margin-top: 20px;
    width: 60%;
    text-align: center;
    font-family:monospace;
    color: #173227;
}

.onectr{
     background: rgba(255, 255, 255, 0.849);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 5%;
}

.light{
    color: #e4d5cc;
}

.greenctr{
    margin-top: 30px;
    background-color: #874620;
    min-height: 100vh;
    color: #173227;
    padding-bottom: 50px;
}

.cntdiv{
    padding-top: 30px;
    margin: auto;
    width: 70%;
    
}

.hdings{
    font-family: monospace;
    font-size: 26px;
}

.defs{
    font-size: 19px;
    font-family: monospace;
}

.ptbtn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    
}

.whitectr{
    margin: 0px;
    background-color: white;
    padding-bottom: 20px;
}